.root {
  text-align: center;
  margin: 0 auto 1.5rem;
}

.title {
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
  max-width: 370px;
  margin: 0 0 15px;
  color: #000;
  font-family: var(--font-manrope), system-ui, sans-serif;
}

.subtitle {
  max-width: 250px;
  margin: 0 auto;
  color: #171717;
  font-size: 17px;
  font-family: var(--font-manrope), system-ui, sans-serif;
}
